backend/.env
frontend/.env
backend/tmp/*
backend/logs/*
frontend/node_modules
frontend/.vscode/*
.vscode/settings.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/*